<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.archzues.mytest">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="tk.acercow.ACCESS_USER" /> -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".eventdispatch.HorizontalActivity" />
        <activity android:name=".eventdispatch.TouchActivity" />
        <activity
            android:name=".ipc.SecondActivity"
            android:process=":remote" />
        <activity android:name=".ipc.ThirdActivity" />

        <service
            android:name=".ipc.messenger.MessengerService"
            android:process=":remote_messenger" />

        <activity android:name=".ipc.messenger.MessengerClientActivity" />

        <service
            android:name=".ipc.normal.BookManagerService"
            android:process=":remote_book_manager" />

        <activity android:name=".ipc.normal.BookMangerActivity" />

        <provider
            android:name=".contentprovider.BookProvider"
            android:authorities="tk.acercow.book.provider"
            android:process=":provider" />

        <activity android:name=".ProviderActivity" />

        <service
            android:name=".socket.TCPServerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ClientActivity"></activity>
    </application>

</manifest>